<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title> HTML5+CSS3+Bootstrap4 網頁設計 A-Z</title>

  <link rel="stylesheet" href="{% static "fonts/icomoon/style.css" %}">
  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}">
  <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
  <link rel="stylesheet" href="{% static "css/owl.theme.default.min.css" %}">
  <link rel="stylesheet" href="{% static "css/owl.theme.default.min.css" %}">
  <link rel="stylesheet" href="{% static "css/jquery.fancybox.min.css" %}">
  <link rel="stylesheet" href="{% static "css/bootstrap-datepicker.css" %}">
  <link rel="stylesheet" href="{% static "fonts/flaticon/font/flaticon.css" %}">
  <link rel="stylesheet" href="{% static "css/aos.css" %}">
  <link rel="stylesheet" href="{% static "css/style.css" %}">
  <!-- JQUERY -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <style>
    #test {
      float: right;
    }

    #tabs {

      float: left;
      margin-bottom: 8%;
    }

    #tabs-2 {
      width: 1200px;
    }

    #tabs-3 {
      width: 1200px;
    }

    #tabs-4 {
      width: 1200px;
    }

    #tabs-5 {
      width: 1200px;
    }

    #tabs-6 {
      width: 1200px;
    }

    #tabs-7 {
      width: 1200px;
    }

    #tabs-8 {
      width: 1200px;
    }

    #tabs-9 {
      width: 1200px;
    }

    #tabs-10 {
      width: 1200px;
    }

    #tabs-11 {
      width: 1200px;
    }

    #tabs-12 {
      width: 1200px;
    }

    #practice {
      clear: both;
    }
  </style>
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">





  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

      <div class="container-fluid">
        <div class="d-flex align-items-center">
          <div class="site-logo mr-auto w-25"><a href="/coursestart/">課程總覽</a></div>

          <div class="mx-auto text-center">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mx-auto d-none d-lg-block  m-0 p-0">
                <li><a href="#vedio" class="nav-link">課程影片</a></li>
                <li><a href="#tabs-1" class="nav-link">課程教材</a></li>
                <li><a href="#practice" class="nav-link">程式練習</a></li>
                <li><a href="#disqus_thread" class="nav-link">課程討論</a></li>
              </ul>
            </nav>
          </div>

          <!-- <div class="ml-auto w-25">
            <!-- <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block m-0 p-0">
                <li class="cta"><a href="#contact-section" class="nav-link"><span>Contact Us</span></a></li>
              </ul>
            </nav>
            <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a>
          </div> -->
        </div>
      </div>

    </header>

    <div class="intro-section single-cover" id="home-section">

      <div class="slide-1 " style="background-image: url({% static 'images/img6.JPG' %}"
        ); " data-stellar-background-ratio=" 0.5">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12">
              <div class="row justify-content-center align-items-center text-center">
                <div class="col-lg-6">
                  <h1 data-aos="fade-up" data-aos-delay="0">第 3 節 : Bootstrap4前端框架</h1>
                  <h1 data-aos="fade-up" data-aos-delay="0">10個常用的Bootstrap元件</h1>
                  <p data-aos="fade-up" data-aos-delay="100">&bullet; 此章節共 1 小時 3 分 5 秒 / 1 份作業 &bullet; </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class=" mb-5">
            <div id="987">
              <div class="mb-5" id="vedio">

                <div>
                  <h2 class="mb-5">課程影片</h2>
                  <iframe width="60%" height="500" src="https://www.youtube.com/embed/CvJY2C-U-xY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  <div class="col-lg-4 pl-lg-5" id="test">

                    <div class="mb-5 text-left border rounded course-instructor">
                      <div class="mb-5 ">
                        <h3 class="text-black">章節內容</h3>
                        <hr>

                        <details>
                          <summary>第 0 節 : 課程介紹</summary>
                          <ol>
                            <li><a href="/lesson0/">課程與網頁程式介紹</a></li>
                          </ol>
                        </details>

                        <details>
                          <summary>第 1 節 : HTML5網頁設計建構</summary>
                          <ol>
                            <li><a href="/lesson1_1/">HTML概要</a></li>
                            <li><a href="/lesson1_2/">HTML5新增元件與屬性</a></li>
                            <li><a href="/lesson1_3/">作業區 : HTML 5 practice</a></li>
                          </ol>
                        </details>

                        <details>
                          <summary>第 2 節 : CSS3標籤與使用方式</summary>
                          <ol>
                            <li><a href="/lesson2_1/">CSS概要</a></li>
                            <li><a href="/lesson2_2/">選擇器與常用屬性</a></li>
                            <li><a href="/lesson2_3/">盒子模型與基本版面設計</a></li>
                            <li><a href="/lesson2_4/">CSS3新手法與特效</a></li>
                            <li><a href="/lesson2_5/">作業區 : CSS 3 practice</a></li>
                          </ol>
                        </details>

                        <details>
                          <summary>第 3 節 : Bootstrap4前端框架</summary>
                          <ol>
                            <li><a href="/lesson3_1/">撰寫Bootstrap網頁</a></li>
                            <li><a href="/lesson3_2/">Bootstrap網格系統</a></li>
                            <li><a href="/lesson3_3/">CSS樣式</a></li>
                            <li><a href="/lesson3_4/">10個常用的Bootstrap元件</a></li>
                            <li><a href="/lesson3_5/">作業區 : Bootstrap 4 practice</a></li>
                          </ol>
                        </details>

                        <details>
                          <summary>第 4 節 : 部署到Heroku</summary>
                          <ol>
                            <li><a href="/lesson4_1/">程式編輯器，ColorLib介紹</a></li>
                            <li><a href="/lesson4_2/">Heroku建立與安裝</a></li>
                            <li><a href="/lesson4_3/">部署至Heroku與期末專案</a></li>
                          </ol>
                        </details>
                      </div>
                    </div>

                  </div>
                </div>

              </div>





            </div><!-- 987 -->
            <!-- JQUERY         -->
            <div class="mb-5 ">
              <h3 class="mb-5">課程教材</h3>
              <div id="tabs">
                <ul>
                  <li><a href="#tabs-1">教材投影片</a></li>
                  <li><a href="#tabs-2">Point</a></li>
                  <li><a href="#tabs-3">按鈕</a></li>
                  <li><a href="#tabs-4">按鈕群組</a></li>
                  <li><a href="#tabs-5">警報效果</a></li>
                  <li><a href="#tabs-6">下拉式選單</a></li>
                  <li><a href="#tabs-7">超大螢幕效果</a></li>
                  <li><a href="#tabs-8">導覽列</a></li>
                  <li><a href="#tabs-9">分頁導覽</a></li>
                  <li><a href="#tabs-10">輪播</a></li>
                  <li><a href="#tabs-11">卡片</a></li>
                  <li><a href="#tabs-12">摺疊</a></li>
                </ul>
                <div id="tabs-1">
                  <iframe
                    src="https://docs.google.com/presentation/d/e/2PACX-1vSyBj3ryJiW0n_phWTXrtTPZAWOM5TvpYsAtyDMJDFdQbqaRL6oRffS3uwSPLgIXg/embed?start=false&loop=false&delayms=3000"
                    frameborder="0" width="1070" height="749" allowfullscreen="true" mozallowfullscreen="true"
                    webkitallowfullscreen="true"></iframe>
                </div>
                <div id="tabs-2">
                  <ol>
                    <li>Bootstrap元件在官方文檔中皆有現成程式碼讓開發者去複製及修改，請各位同學務必親自練習10種常用元件之修改。</li>
                    <li>查閱程式官方文檔無論是網頁前端或後端甚至其他領域之程式學習都需要具備的能力，因為程式語言的規則的更新是非常頻繁的，官方文件則是更新最快最準確的文本教學。</li>

                  </ol>
                </div>

                <div id="tabs-3">
                  <iframe src="https://docs.google.com/document/d/e/2PACX-1vQVn_lJK3jhobmwtyAPbWtjh6Tyw4tfFSDSjc1IY3JmHp_BQXXqplsL_LnEqLb0H2yYDz-1zuw3DFZg/pub?embedded=true" frameborder="0" width="1070" height="749" allowfullscreen="true" mozallowfullscreen="true"
                  webkitallowfullscreen="true"></iframe>
                </div>
                <div id="tabs-4">
                  <iframe src="https://docs.google.com/document/d/e/2PACX-1vTtVjOI23dd4SHoQUT7NZs-xG0-bfL44LJDpERUvwK7_RquSEUZnfVmBD12Re2gt7DB7IRXIsUelx15/pub?embedded=true" frameborder="0" width="1070" height="749" allowfullscreen="true" mozallowfullscreen="true"
                  webkitallowfullscreen="true"></iframe>
                </div>
                <div id="tabs-5">
                  <iframe src="https://docs.google.com/document/d/e/2PACX-1vTFflZUufdULBfaKsuAFy9acq8GZk7kFsxJ694VNIyZyQc1dFUsLZwp8OHLvFdoGkViXF3YCr249GEv/pub?embedded=true" frameborder="0" width="1070" height="749" allowfullscreen="true" mozallowfullscreen="true"
                  webkitallowfullscreen="true"></iframe>
                </div>
                <div id="tabs-6">
                  <iframe src="https://docs.google.com/document/d/e/2PACX-1vSG7V-PkV3t3zuEHfvdsFDgkIiA5pbGJJ4GvdMn47K_gOr10xIgYiLwvIxmcYsa3Ma7tlA3q90_zLJz/pub?embedded=true" frameborder="0" width="1070" height="749" allowfullscreen="true" mozallowfullscreen="true"
                  webkitallowfullscreen="true"></iframe>
                </div>
                <div id="tabs-7">
                  <iframe src="https://docs.google.com/document/d/e/2PACX-1vR5tirTbi2EVipv5E9TjmmtcW1_QZJFKYcdQn6rem30EKQwXeUiWSQfL-p_JHjAAZBGg3Yj2xgY0ZOz/pub?embedded=true" frameborder="0" width="1070" height="749" allowfullscreen="true" mozallowfullscreen="true"
                  webkitallowfullscreen="true"></iframe>
                </div>
                <div id="tabs-8">
                  <iframe src="https://docs.google.com/document/d/e/2PACX-1vQzU-2RJKEH2723NOCzuilJc4XDzpvdQ_eoT2Sm9vW3tmmiRTX9EKZMv3x6i0k_8RGag3TQ71oIRaRC/pub?embedded=true" frameborder="0" width="1070" height="749" allowfullscreen="true" mozallowfullscreen="true"
                  webkitallowfullscreen="true"></iframe>
                </div>
                <div id="tabs-9">
                  <iframe src="https://docs.google.com/document/d/e/2PACX-1vT_jtYrrpp3HFM2yqyOP5O3lrf8Hq2eE5Kt9ce8hniTajHBQ7aXcien3Rvpj-jYKiUlWuhnZa9QFwYP/pub?embedded=true" frameborder="0" width="1070" height="749" allowfullscreen="true" mozallowfullscreen="true"
                  webkitallowfullscreen="true"></iframe>
                </div>
                <div id="tabs-10">
                  <iframe src="https://docs.google.com/document/d/e/2PACX-1vReFYkjLI0erWm1m77F5S_RRsvxigqh_wlf5GcyPcklbAdJnq1eTJZU3WlbIzCyKyaeFVWf7aAmjpBc/pub?embedded=true" frameborder="0" width="1070" height="749" allowfullscreen="true" mozallowfullscreen="true"
                  webkitallowfullscreen="true"></iframe>
                </div>
                <div id="tabs-11">
                  <iframe src="https://docs.google.com/document/d/e/2PACX-1vTtPBmzvq0gsVCB9rjRRAWQlT8j5t9RB5plLlL-prxJRgdKMo6eazvtz0ZRq_uNE_6UIr2KEmy7UqVg/pub?embedded=true" frameborder="0" width="1070" height="749" allowfullscreen="true" mozallowfullscreen="true"
                  webkitallowfullscreen="true"></iframe>
                </div>
                <div id="tabs-12">
                  <iframe src="https://docs.google.com/document/d/e/2PACX-1vTnObJSnV0aI1JLiFnO_3K01kob0KKPEOWJ_PizBV50smo0ueRNFRLn0--LJ-ZSmnXx7R7MYCCDSndP/pub?embedded=true" frameborder="0" width="1070" height="749" allowfullscreen="true" mozallowfullscreen="true"
                  webkitallowfullscreen="true"></iframe>
                </div>
              </div>



              <div class="mb-5 ">
                <h2 class="mb-5" id="practice">程式練習</h2>
                <iframe height="1000px" width="100%" src="https://repl.it/@jayceli/FatalAgileTraining?lite=true"
                  scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true"
                  sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
              </div>


              <div class="pt-5">
                <h3 class="mb-5">課程討論</h3>
                <hr>
                <div id="disqus_thread"></div>
                <script>

                  /**
                  *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                  *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                  /*
                  var disqus_config = function () {
                  this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                  this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                  };
                  */
                  (function () { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://1-1-3.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                  })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments
                    powered
                    by Disqus.</a></noscript>



              </div>



            </div>
          </div>
        </div>
      </div>



      <footer class="footer-section bg-light text-center">
        <div class="container">
          <p>Copyright ©2020 All rights reserved | NTUST_SIS</p>
        </div>
      </footer>



    </div> <!-- .site-wrap -->

    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/jquery-migrate-3.0.1.min.js"%}"></script>
    <script src="{% static "js/jquery-ui.js"%}"></script>
    <script src="{% static "js/popper.min.js"%}"></script>
    <script src="{% static "js/bootstrap.min.js"%}"></script>
    <script src="{% static "js/owl.carousel.min.js"%}"></script>
    <script src="{% static "js/jquery.stellar.min.js"%}"></script>
    <script src="{% static "js/jquery.countdown.min.js"%}"></script>
    <script src="{% static "js/bootstrap-datepicker.min.js"%}"></script>
    <script src="{% static "js/jquery.easing.1.3.js"%}"></script>
    <script src="{% static "js/aos.js"%}"></script>
    <script src="{% static "js/jquery.fancybox.min.js"%}"></script>
    <script src="{% static "js/jquery.sticky.js"%}"></script>
    <script src="{% static "js/main.js"%}"></script>

    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
      $(function () {
        $("#tabs").tabs();
      });
    </script>



</body>

</html>